<!DOCTYPE html>
<html data-theme="emerald">
  <head>
    <title><%= content_for?(:html_title) ? yield(:html_title) : "Qiuzzies - quick quizzes on key 11+ topics" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="turbo-refresh-method" content="morph">
    <meta name="view-transition" content="same-origin" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>
    <link rel="icon" href="/icon.png" type="image/png">
    <%# <link rel="icon" href="/icon.svg" type="image/svg+xml"> %>
    <link rel="apple-touch-icon" href="/icon.png">
    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class='bg-gradient-to-r from-teal-400 to-yellow-200 min-h-screen'>

<div class='pt-16'>

    <div class=" mx-auto max-w-4xl px-12 bg-white btn-hand ">
      <div class='flex gap-x-2 items-center mx-auto pt-8 pb-16 '>
        <div><a class="" href="/"><img src="/logo.png" class='w-24'/></a></div>
        <div class="navbar ">
          <a class="btn btn-ghost text-2xl font-nunito-black" href="/">Quizzies</a>
        </div>
      </div>

      <div class='pb-8'>
      <%= yield %>
      </div>
    </div>
    </div>
  </body>
</html>
